body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Outfit", sans-serif;
}

.app-container {
    display: flex;
}

:root {
    --background-color-light: #ffffff; 
    --text-color-light: black; 
    --background-color-dark: #000000; 
    --text-color-dark: #ffffff;
    --sidebar-background-light: #2c3e50; 
    --sidebar-background-dark: #2c3e50; 
    --content-background-light: #ecf0f1; 
    --content-background-dark: #121212; 
    --card-background-light: transparent; 
    --card-background-dark: transparent; 
}

body.light .sidebar {
    background-color: var(--sidebar-background-light);
    color: var(--text-color-dark);
}

body.light .content {
    background-color: var(--content-background-light);
    color: var(--text-color-light);
}

body.light .cards div {
    background: transparent; 
    color: var(--text-color-light);
    padding: 0; 
}

body.light .title {
    color: var(--text-color-light);
}

body.dark .sidebar {
    background-color: var(--sidebar-background-dark);
    color: var(--text-color-dark);
}

body.dark .content {
    background-color: var(--content-background-dark);
    color: var(--text-color-dark);
}

body.dark .cards div {
    background: transparent; 
    color: var(--text-color-dark);
    padding: 0; 
}

body.dark .title {
    color: var(--text-color-dark);
}

/* Play button hover effects for light and dark mode */
body.light .play-button:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Light mode hover color */
}

body.dark .play-button:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Dark mode hover color */
}